.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.half-width {
  flex: 0 0 48%; /* Set width to 48% for two fields side-by-side */
  padding-left: 1.5% /* Add some padding for spacing between fields */
}

.third-width {
  flex: 0 0 32%; /* Set width to 32% for three fields side-by-side */
  padding-left: 1% /* Add some padding for spacing between fields */
}

.full-width {
  flex: 0 0 98%;
  padding-left: 1%;
}
