/*.login-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*}*/

/*.login-card {*/
/*  max-width: 500px;*/
/*  height: 400px;*/
/*  padding: 20px;*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);*/
/*}*/

/*.card-title {*/
/*  margin-bottom: 20px;*/
/*  font-size: 24px;*/
/*}*/

/*.login-form {*/
/*  width: 100%;*/
/*}*/

/*mat-form-field {*/
/*  width: 100%;*/
/*  margin-bottom: 20px;*/
/*}*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 50%;
}

.header {
  position: absolute;
  top: -20px;
  left: 5%;
  width: 85%;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.content {
  flex: 1;
  padding: 60px 20px;
}

mat-form-field{
  width: 100%;
}

.warning{
  margin-top: 20px;
  color: red;
}
