.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2%;
  height: 100%;
  width: 100%;
}

.right-container{
  display: grid;
  grid-template-rows: 1fr 4fr;
  /*padding-top: 10%;*/
  /*width: 90%;*/
  padding-right: 10px;
}
